<div id="head" ng-show="ready">

</div>

<div id="main" class="table-responsive" ng-show="ready">

	<table class="table table-hover table-striped">

		<tr>

			<th ng-repeat="col in columns">

				<a title="click to sort by&#13;this column" ng-click="sortBy(col)" ng-bind="col"></a>

			</th>

			<th></th>

		</tr>

		<tr ng-repeat="obj in data | orderBy:user.points.sort track by $index">

			<td ng-bind="obj.device"></td>

			<td ng-bind="obj.point"></td>

			<td ng-bind="obj.type"></td>

			<td ng-bind="obj.value"></td>

			<td class="col-md-1">

				<input class="form-control" type="text" ng-change="userEdit()" ng-model="obj.units"/>

			</td>

			<td ng-bind="obj.timestamp + '000' | date:'EEE, d MMM yyyy HH:mm:ss'"></td>

			<td>

				<select class="form-control" ng-model="obj.logging" ng-change="userEdit()" ng-options="opt.val as opt.text for opt in options.logging"></select>

			</td>

			<td>

				<select class="form-control" ng-model="obj.purge" ng-change="userEdit()" ng-options="opt.val as opt.text for opt in options.purge"></select>

			</td>

			<td>

				<input class="form-control "type="text" ng-change="userEdit()" ng-model="obj.alias"/>

			</td>

			<td>

				<button type="button" class="btn btn-success" ng-click="save(obj)">Save</button>

				<button type="button" class="btn btn-danger" ng-click="delete(obj)">Delete</button>

			</td>

		</tr>

	</table>

</div>